@font-face {
  font-family: 'VeryVogue';
  src: url('./fonts/VeryVogue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;